{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel='stylesheet' href='{% static 'css/demo.css' %}'>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class='container'>
      <div class='jumbotron'>
      <h1> Wellcome to Ganga Mahadeo Website</h1>
      <a class='btn btn-info btn-lg' href='/hydjobs'>Hyderabad jobs info</a>
      <a class='btn btn-info btn-lg' href='/banglorejobs'>Banglore jobs info</a>
      <a class='btn btn-info btn-lg' href='/chennaijobs'>Chennai jobs info</a>
      <a class='btn btn-info btn-lg' href='/punejobs'>Pune jobs info</a>
      </div>
    </div>
  </body>
</html>
